<div class="footer">
    <div class="row text-center">
        <div class="col-md-4">
            <h5 style="color: white;">ABOUT</h5>
            
          <P>Ball tip biltong pork belly frankfurter shankle jerky leberkas pig kielbasa kay boudin alcatra short loin.</P>  
        
            <P> Jowl salami leberkas turkey pork brisket meatball turducken flank bilto porke belly ball tip. pork belly frankf urtane bilto</P>  

            <p>
                Phone: +234 3452 36365
                <br>
                Email: Info@anikeCravings.com
            </p>
            <p>
                329 Queensberry Street, North Melbourne
                <br>
                VIC 3051, Australia.
            </p>
        </div>

        <div class="col-md-4">
            
             <h5 style="color: white;">Links</h5>
        <hr>
           <p>Home</p>
           <p>About Us</p>
           <p>Recipe</p>
           <p>Contact</p>
        </div>
        
        <div class="col-md-4">
           
             <h5 style="color: white;">Service</h5>
             <hr>
            <p>Order</p>
            <p>Shipment</p>
            <p>Chef Talk</p>
            <p>Event Bookies</p>

            
         
            
        </div>

        
       

        <div class="col-12 mt-3">
            <hr class="light">
            <h6 class="text-sm-left"> Designed by Meeday. Powered by Joomla. </h6>
        </div>
    </div>
</div>
