<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 man" style="background: cornflowerblue;">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner ">
                  <div class="carousel-item active text-center">
                    <img class="mx-auto d-block w-45" src="assets/cake1.png" class="img-fluid"  alt="First slide">
                    <h4 class="text-center word1">Hi <br> Bite the taste </h4>
                  </div>
                  <div class="carousel-item text-center">
                    <img class="mx-auto d-block w-45" src="assets/cake.png" class="img-fluid"  alt="Second slide">
                    <h4 class="text-center word1">Hi <br> i have cake</h4>
                  </div>
                  <div class="carousel-item text-center">
                    <img class="mx-auto d-block w-45" src="assets/slider2.png" class="img-fluid"  alt="Third slide">
                    <h4 class="text-center word1">Hi <br> i have cake</h4>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
        
    </div>

     <!-- <div>
        <div class="row m-3 dash">
                <div class="col-md-4">
                    <img src="assets/iconbox1.jpg" class="img-fluid icon" alt="">
                    <span class="side">
                        <h6>Products</h6>
                        <p style="width: 55%;">Lorem ipsum dolor sit amet consectetuer aliquet.</p>
                    </span>
                    
                    </div>

                <div class="col-md-4">
                    <img src="assets/iconbox2.jpg" class="img-fluid icon" alt="">
                    <span class="side">
                        <h6>Products</h6>
                     <p style="width: 55%;">Lorem ipsum dolor sit amet consectetuer aliquet.</p> 
                     </span>
                </div>

                <div class="col-md-4">
                    <img src="assets/iconbox3.jpg" class="img-fluid icon" alt="">
                    <span class="side">
                       <h6>Products</h6>
                    <p style="width: 55%;">Lorem ipsum dolor sit amet consectetuer aliquet.</p> 
                    </span>
                    
                </div>
        </div>
    </div>  -->

 

  <div class="row productlist">
    
    <div class="col-md-3 m-3">
      <div class="card">
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <img src="assets/1.jpeg" class="d-block img-fluid" alt="">
          
          <br>
          <a href="#" class="card-link" data-toggle="modal" data-target="#exampleModal">View</a>
          <a href="https://chat.whatsapp.com/HtgxDik50mlKBX9OXoylKC" style="margin-left: 40px;"> Chat me </a>
          <!-- <a href="#" class="card-link">Another link</a> -->
        </div>
      </div>
    </div>

    <div class="col-md-3 m-3">
      <div class="card">
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <img src="assets/2.jpeg" class="d-block img-fluid" alt="">

          <br>
          <p>London cake $40</p> 
          <a href="#" class="card-link" data-toggle="modal" data-target="#exampleModal1">View</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 m-3">
      <div class="card">
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <img src="assets/3.jpeg" class="d-block img-fluid" alt="">

          <br>
          <a href="#" class="card-link" data-toggle="modal" data-target="#exampleModal2">View</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 m-3">
      <div class="card">
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <img src="assets/4.jpeg" class="d-block img-fluid" alt="">
          <br>
          <a href="#" class="card-link" data-toggle="modal" data-target="#exampleModal3">View</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 m-3">
      <div class="card">
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <img src="assets/5.jpeg" class="d-block img-fluid" alt="">
          <br>
          <a href="#" class="card-link" data-toggle="modal" data-target="#exampleModal4">View</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 m-3">
      <div class="card">
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <img src="assets/6.jpeg" class="d-block img-fluid" alt="">
          <br>
          <a href="#" class="card-link" data-toggle="modal" data-target="#exampleModal5">View</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
          <!-- <h2>Birthday Gifts </h2> -->
    <div class="col-md-3 m-3">
      <div class="card">
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <img src="assets/1.JPG" class="d-block img-fluid" alt="">
          <br>
          <a href="#" class="card-link" data-toggle="modal" data-target="#exampleModal6">View</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 m-3">
      <div class="card">
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <img src="assets/3.JPG" class="d-block img-fluid" alt="">
          <br>
          <a href="#" class="card-link" data-toggle="modal" data-target="#exampleModal7">View</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 m-3">
      <div class="card">
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <img src="assets/5.JPG" class="d-block img-fluid" alt="">
          <br>
          <a href="#" class="card-link" data-toggle="modal" data-target="#exampleModal8">View</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-3 m-3">
    <div class="card">
      <div class="card-body">
        <!-- <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        <img src="assets/4.JPG" class="d-block img-fluid" alt="">
        <br>
        <a href="#" class="card-link" data-toggle="modal" data-target="#exampleModal6">View</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>

  <div class="col-md-3 m-3">
    <div class="card">
      <div class="card-body">
        <!-- <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        <img src="assets/6.JPG" class="d-block img-fluid" alt="">
        <br>
        <a href="#" class="card-link" data-toggle="modal" data-target="#exampleModal7">View</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>

  <div class="col-md-3 m-3">
    <div class="card">
      <div class="card-body">
        <!-- <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        <img src="assets/2.JPG" class="d-block img-fluid" alt="">
        <br>
        <a href="#" class="card-link" data-toggle="modal" data-target="#exampleModal8">View</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>
</div>

<div class="row text-center" >
  <!-- <div class="col-md-12 ">
    <h3>WHAT CLIENT'S SAY?</h3>
    <p>Curabitur quis nisl in leo euismod venenatis eu in diam. Etiam auctor diam pellentesque. Curabitur quis nisl in leo euismod venenatis eu in diam. pellentesque.
    <br>  - John Doe -</p>
  </div>  -->


  <div class="col-md-12 client">
    <h3>WHAT CLIENT'S SAY?</h3>
    <p>Curabitur quis nisl in leo euismod venenatis eu in diam. Etiam auctor diam pellentesque. Curabitur quis nisl in leo euismod venenatis eu in diam. pellentesque.
     </p>
     <p class="mt-3">- John Doe -</p>
</div>
</div>
   



  <div class="scrolling-wrapper row flex-row flex-nowrap mt-4 pb-4 pt-2">
			
    <div class="col-3">
        <div class="card card-block card-1">
          <img src="assets/5.JPG" class="d-block img-fluid" alt="">
        </div>
    </div>
    <div class="col-3">
        <div class="card card-block card-2">
          <img src="assets/5.JPG" class="d-block img-fluid" alt="">
        </div>
    </div>
    <div class="col-3">
        <div class="card card-block card-3">
          <img src="assets/5.JPG" class="d-block img-fluid" alt="">
        </div>
    </div>
    <div class="col-3">
        <div class="card card-block card-4">
          <img src="assets/5.JPG" class="d-block img-fluid" alt="">
        </div>
    </div>
    <div class="col-3">
        <div class="card card-block card-5">
          <img src="assets/5.JPG" class="d-block img-fluid" alt="">
        </div>
    </div>
    <div class="col-3">
        <div class="card card-block card-6">
          <img src="assets/5.JPG" class="d-block img-fluid" alt="">
        </div>
    </div>
    <div class="col-3">
        <div class="card card-block card-7">
          <img src="assets/5.JPG" class="d-block img-fluid" alt="">
        </div>
    </div>
    <div class="col-3">
        <div class="card card-block card-8">
          <img src="assets/5.JPG" class="d-block img-fluid" alt="">
        </div>
    </div>
    <div class="col-3">
        <div class="card card-block card-9">
          <img src="assets/5.JPG" class="d-block img-fluid" alt="">
        </div>
    </div>
    <div class="col-3">
        <div class="card card-block card-10">
          <img src="assets/5.JPG" class="d-block img-fluid" alt="">
        </div>
    </div>
</div>

 <!-- Modal Example -->

 <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <img src="assets/1.jpeg" class="d-block "  alt="">
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <img src="assets/2.jpeg" class=" img-fluid" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <img src="assets/3.jpeg" class="d-block img-fluid" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <img src="assets/4.jpeg" class="d-block img-fluid" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="exampleModal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <img src="assets/5.jpeg" class="d-block img-fluid" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <img src="assets/6.jpeg" class="d-block img-fluid" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="exampleModal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <img src="assets/7.jpeg" class="d-block img-fluid" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="exampleModal7" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <img src="assets/8.jpeg" class="d-block img-fluid" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="exampleModal8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <img src="assets/9.jpeg" class="d-block img-fluid" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal9" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="assets/1.jpeg" class="d-block "  alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

</div>